In [79]:
import numpy as np
import pandas as pd
netflix = pd.read_csv('netflix_titles.csv')
data = netflix.copy()
netflix.shape
netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [80]:
netflix.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [81]:
for i in netflix.columns:
  na=netflix[i].isna().sum()
  percent=na/len(netflix)*100
  print("{} : {}".format(i,percent))

show_id : 0.0
type : 0.0
title : 0.0
director : 29.908027705234474
cast : 9.367548540933349
country : 9.435676166685592
date_added : 0.11354604292040424
release_year : 0.0
rating : 0.04541841716816169
duration : 0.034063812876121265
listed_in : 0.0
description : 0.0

In [82]:
netflix = netflix.dropna(subset=['cast','country','date_added','rating','duration'],how='any')
netflix['director'] = netflix['director'].fillna(value='Not Found')
netflix.isna().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [83]:
netflix.drop('description',axis=1,inplace=True)
netflix.date_added = pd.to_datetime(netflix.date_added)
def split_data(col1,col2):
    data1 = data[col1].str.split(',',expand=False)
    data2 = data[col2].squeeze()
    df = pd.concat([data1,data2],axis=1).explode(col1).reset_index(drop=True)   
    df[col1] = df[col1].str.strip()
    return df.value_counts().reset_index()
df1 = split_data('country','type').rename(columns={ 0 :"count"})
df2 = split_data('listed_in','type').rename(columns={ 0 :"count"})
df1

                country     type  count
0         United States    Movie   2752
1                 India    Movie    962
2         United States  TV Show    938
3        United Kingdom    Movie    534
4                Canada    Movie    319
..                  ...      ...    ...
179             Ecuador    Movie      1
180        East Germany    Movie      1
181  Dominican Republic    Movie      1
182           Sri Lanka    Movie      1
183           Lithuania    Movie      1

[184 rows x 3 columns]

In [84]:
df2

                       listed_in     type  count
0           International Movies    Movie   2752
1                         Dramas    Movie   2427
2                       Comedies    Movie   1674
3         International TV Shows  TV Show   1351
4                  Documentaries    Movie    869
5             Action & Adventure    Movie    859
6                      TV Dramas  TV Show    763
7             Independent Movies    Movie    756
8       Children & Family Movies    Movie    641
9                Romantic Movies    Movie    616
10                   TV Comedies  TV Show    581
11                     Thrillers    Movie    577
12                Crime TV Shows  TV Show    470
13                      Kids' TV  TV Show    451
14                    Docuseries  TV Show    395
15              Music & Musicals    Movie    375
16             Romantic TV Shows  TV Show    370
17                 Horror Movies    Movie    357
18               Stand-Up Comedy    Movie    343
19                    Reality TV  TV Show    255
20              British TV Shows  TV Show    253
21              Sci-Fi & Fantasy    Movie    243
22                 Sports Movies    Movie    219
23                  Anime Series  TV Show    176
24     Spanish-Language TV Shows  TV Show    174
25         TV Action & Adventure  TV Show    168
26               Korean TV Shows  TV Show    151
27                Classic Movies    Movie    116
28                  LGBTQ Movies    Movie    102
29                  TV Mysteries  TV Show     98
30           Science & Nature TV  TV Show     92
31           TV Sci-Fi & Fantasy  TV Show     84
32                     TV Horror  TV Show     75
33                Anime Features    Movie     71
34                   Cult Movies    Movie     71
35                 Teen TV Shows  TV Show     69
36          Faith & Spirituality    Movie     65
37                  TV Thrillers  TV Show     57
38                        Movies    Movie     57
39  Stand-Up Comedy & Talk Shows  TV Show     56
40             Classic & Cult TV  TV Show     28
41                      TV Shows  TV Show     16